@charset "UTF-8";
/* scss 編譯過的 註解 */
/* src/assets/_variables.scss */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; /* 繼承 html 的設定 */
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button,
input,
textarea,
select {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn-solid {
  background-color: #0E6273;
  color: #ffffff;
  border-color: #0E6273;
}
.btn-solid:hover {
  background-color: #E04925;
  border-color: #E04925;
}

.btn-outline {
  background-color: transparent;
  color: #0E6273;
  border-color: #0E6273;
}
.btn-outline:hover {
  background-color: transparent;
  color: #E04925;
  border-color: #E04925;
}

.btn-outline-white {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}
.btn-outline-white:hover {
  background-color: transparent;
  color: #E04925;
  border-color: #E04925;
}

.btn-outline-game {
  background-color: #ffffff;
  color: #0E6273;
  border-color: #0E6273;
}
.btn-outline-game:hover {
  background-color: #ffffff;
  color: #E04925;
  border-color: #E04925;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  border-style: solid;
  border-width: 2px;
}

.btn-xs {
  padding: 10px 8px;
  font-size: 0.75rem;
}

.btn-s {
  padding: 10px 16px;
  font-size: 0.875rem;
}

.btn-l {
  padding: 12px 24px;
}

.btn-xl {
  padding: 16px 32px;
}

.btn-xxl {
  padding: 20px 40px;
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */