/* src/assets/_variables.scss */
$bg-color:#F4F4F4;
$primary-color: #153450;
$secondary-color: #0E6273;
$text-color: #333333;
$highlight-color1:#4FA8C3 ;
$highlight-color2:#E14720 ;
$highlight-color3:#F4D35E;
$card-color:#CFDEE0;
$activity-card-color:#F4F1F1;
$activity-line-color:#CBCACA;
$game-bg-color:#E3D5CA;
$game-line-color:#7BAAB0;
$page-number-color:#AAAAAA;

$backstage-bar-color:#7BAAB0;
$backstage-bar-click-color:#F2F2E8;
$backstage-bar-line-color:#A59E9E;
$backstage-swipe-color:#F6F6F6;

