.-on{
  display: none;
}
.cardContainer{ 
  color: $text-color;
  cursor: pointer;
  background-color: $card-color;
  overflow: hidden;
  margin-bottom: 24px;
  .cardPic{
    width: 100%;
    object-fit: cover;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
  }
  .cardInfo{
    padding: 24px;
    .rowInfo{
      padding: auto 0;
    }
    }

}
