%card-base {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $card-color;
  overflow: hidden;
  .card-pic{
    width: 100%;
    height: 348px;
    object-fit: cover;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-info{
    padding: 24px;
    .card-title{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @include font-secondary;
      color: $text-color;
      gap: 8px;
      .bookmark-icon{
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
      
    }
    .line{
      width: 120%;
      height: 1px;
      background-color: $page-number-color;
      margin:  16px -24px;
    }
    .rowInfo{
      display: flex;
      flex-wrap: wrap;
      @include font-secondary;
      color: $text-color;
      margin-bottom: 8px;
      gap: 8px;
    }
    .signUpNum{
      margin-bottom: 0;
    }
    .card-footer-link{
      margin-top: 16px;
      text-align: right;
      border: 2px solid $secondary-color;
      a{
        @include font-secondary;
        color: $secondary-color; 
      }
      &:hover{
          background-color: $highlight-color2;
          color: $primary-color;
        }
    }
  }
}